/* --------- 
 * Imports *
 --------- */

@font-face {
  font-family: 'Lato';
  src: url('/assets/font/lato/Lato-Black.ttf') format('truetype'),
    url('/assets/font/lato/Lato-BlackItalic.ttf') format('truetype'),
    url('/assets/font/lato/Lato-Bold.ttf') format('truetype'),
    url('/assets/font/lato/Lato-BoldItalic.ttf') format('truetype'),
    url('/assets/font/lato/Lato-Italic.ttf') format('truetype'),
    url('/assets/font/lato/Lato-Light.ttf') format('truetype'),
    url('/assets/font/lato/Lato-LightItalic.ttf') format('truetype'),
    url('/assets/font/lato/Lato-Regular.ttf') format('truetype'),
    url('/assets/font/lato/Lato-Thin.ttf') format('truetype'),
    url('/assets/font/lato/Lato-ThinItalic.ttf') format('truetype'), ;
}

/* -------- 
 * Common *
 -------- */

:root {

  /* ----------------- 
   * Jangan Diganti! *
   * Do not Change!  *
   ----------------- */

  scroll-behavior: smooth;

  /** 
   * Colors                                                                   
   * ref: https://coolors.co/000000-4c606b-bbdddb-c9e4e2-f4f4f9-4e967e-458771-ffe057
   */
  --black: hsl(0, 0%, 0%);
  --cadet: hsl(201, 17%, 36%);
  --powder-blue: hsl(177, 33%, 79%);
  --light-cyan: hsl(176, 33%, 84%);
  --ghost-white: hsl(240, 29%, 97%);
  --illuminating-emerald: hsl(160, 32%, 45%);
  --viridian: hsl(160, 32%, 40%);
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--cadet);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

/* ----------------------------- 
 * Disable AOS delay on mobile *
 ----------------------------- */

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/* -------- 
 * Header *
 -------- */

.header {
  transition: all 0.5s;
  z-index: 1000;
  padding: 20px 0;
}

.header.header-scrolled {
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 2px 15px hsla(201, 17%, 36%, 0.1);
}

.header.header-inner-pages {
  background: rgba(0, 0, 0, 0.8);
}

.header .logo {
  font-size: 38px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 900;
}

@media (max-width: 768px) {
  .header .logo {
    font-size: 24px;
  }
}

.header .logo a {
  color: var(--cadet);
}

.social-links {
  padding: 0;
}

@media (min-width: 992px) {
  .social-links {
    width: 13.25rem;
  }
}

.social-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.social-links li {
  position: relative;
}

.social-links .nav-link {
  padding: 0.5rem 0.5rem !important;
}

.social-links a,
.social-links a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-links i {
  font-size: 20px;
  transition: 0.4s;
  color: var(--cadet);
}

.social-links i:hover {
  color: var(--illuminating-emerald);
}

/* -------- 
 * Navbar *
 -------- */

/**
 * Desktop
 */
.navbar {
  padding: 0;
}

@media (min-width: 992px) {
  .navbar {
    width: 13.25rem;
  }
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.navbar li {
  position: relative;
}

.navbar .nav-link {
  padding: 0.5rem 0.5rem !important;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
  color: var(--cadet);
  white-space: nowrap;
  transition: 0.4s;
}

.navbar a:hover,
.navbar li:hover>a {
  color: var(--illuminating-emerald);
}

.navbar .active,
.navbar .active:focus {
  color: var(--illuminating-emerald);
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  z-index: 99;
  opacity: 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  font-size: 14px;
  text-transform: none;
  color: #151515;
  font-weight: 400;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  background-color: #ffc451;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
 * Mobile
 */
.mobile-nav-toggle {
  color: var(--cadet);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.ri-menu-3-fill,
.mobile-nav-toggle.ri-close-fill {
  line-height: 1;
}

@media (max-width: 992px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  border-radius: 15px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  font-size: 15px;
  color: var(--cadet);
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: var(--ghost-white);
  background-color: var(--illuminating-emerald);
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  color: #151515;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  background-color: #ffc451;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/* --------- 
 * Section *
 --------- */

section {
  padding: 60px 0;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  padding: 0;
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
  color: var(--cadet);
}

.section-header .solid-divider {
  margin: 15px 0;
  border-top: 3px solid var(--cadet);
}

.section-header p {
  padding: 0;
  letter-spacing: 0.5px;
  color: var(--cadet);
}

@media (max-width: 768px) {
  .section-header h2 {
    font-size: 28px;
    line-height: 32px;
  }
}

/* --------------
 * Hero Section *
 -------------- */

.hero {
  width: 100%;
  height: 100vh;
}

.hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: var(--cadet);
}

.hero h2 {
  color: var(--cadet);
  margin: 15px 0 0 0;
  font-size: 26px;
}

.hero .btn-our-services {
  margin-top: 30px;
  padding: 9px 20px 9px 24px;
  border-radius: 10px;
  white-space: nowrap;
  display: inline-block;
  transition: 0.5s;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: var(--illuminating-emerald);
  color: #fff;
}

.hero .btn-our-services:hover {
  background-color: var(--viridian);
}

.hero .hero-img {
  text-align: right;
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 992px) {
  .hero {
    height: auto;
    padding: 120px 0 60px 0;
  }

  .hero .hero-img {
    text-align: center;
    margin-top: 80px;
  }

  .hero .hero-img img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero h2 {
    font-size: 24px;
  }

  .hero .hero-img img {
    width: 100%;
  }
}

/* ------------------
 * Featured Section *
 ------------------ */

.featured {
  width: 100%;
  padding-top: calc(25vh / 2);
  padding-bottom: calc(25vh / 2);
}

.featured .box {
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 100%;
  border-radius: 15px;
}

.featured .box:hover {
  border: 2px solid var(--powder-blue);
}

.featured .box img {
  padding: 30px 50px;
  border-radius: 50%;
  transition: 0.5s;
  transform: scale(1.1);
}

.featured .box:hover img {
  transform: scale(1);
}

.box h3 {
  font-size: 24px;
  color: var(--cadet);
  font-weight: 700;
  margin: 24px 0px;
}

.box a,
.box a:focus {
  font-size: 15px;
  font-weight: 600;
  color: var(--illuminating-emerald);
  text-decoration: underline;
  white-space: nowrap;
}

/* ---------------------
 * Testimonial Section *
 --------------------- */

.testimonial {
  width: 100%;
  padding-top: calc(25vh / 2);
  padding-bottom: calc(25vh / 2);
}

.testimonial .container .row div .section-header {
  padding: 0 15px;
  text-align: start;
}

.carousel-inner .carousel-item img {
  border-radius: 15px !important;
}

.darken-img {
  filter: brightness(40%);
}

@media (max-width: 992px) {
  .testimonial .container .row div {
    justify-content: center;
  }

  .testimonial .container .row div .section-header {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .carousel-caption {
    padding: 0;
  }

  .carousel-item div p {
    font-size: 12px !important;
    margin-bottom: 0;
  }

  .carousel-item div h5 {
    font-size: 16px !important;
  }

  .carousel-indicators {
    display: none;
  }
}

/* -----------------
 * See Us Section *
 ----------------- */

.see-us {
  width: 100%;
  padding-top: calc(25vh / 2);
  padding-bottom: calc(25vh / 2);
}

.see-us .bushrs {
  background-color: var(--light-cyan);
  color: var(--cadet);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.see-us h4 {
  padding: 3rem 5rem 0 5rem;
  align-self: center;
  text-align: center;
  font-weight: 600;
}

.see-us .days {
  padding: 3rem 3rem;
  text-align: start;
}

.see-us .hours {
  padding: 3rem 3rem;
  text-align: end;
}

.see-us .busloc {
  border: 2px solid var(--light-cyan);
  color: var(--cadet);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.see-us .row {
  --bs-gutter-x: 0 !important;
}

.see-us .map-responsive {
  padding-bottom: 76.6%;
  position: relative;
  height: 0;
  border-top-right-radius: 15px;
}

.see-us .map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border-top-right-radius: 15px;
}

.see-us .row {
  --bs-gutter-x: 0 !important;
}

.see-us .map-responsive {
  padding-bottom: 75%;
  position: relative;
  height: 0;
  border-top-right-radius: 15px;
}

.see-us .busloc .map-loc p {
  padding: 1rem 1rem;
  border-top: 2px solid var(--light-cyan);
  text-align: center;
  margin: 0;
}

@media (max-width: 992px) {
  .see-us h4 {
    padding: 3rem 5rem 0 5rem;
  }

  .see-us .bushrs {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
  }

  .see-us .busloc {
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .see-us .map-responsive {
    border-bottom-left-radius: 0px;
  }

  .see-us .map-responsive iframe {
    border-top-right-radius: 0px;
  }

}

@media (max-width: 768px) {
  .see-us h4 {
    padding: 1.5rem 3rem 0 3rem;
  }

  .see-us .days {
    padding: 1.5rem 2rem;
    font-size: 12px;
  }

  .see-us .hours {
    padding: 1.5rem 2rem;
    font-size: 12px;
  }
}

@media (max-width: 340px) {
  .see-us h4 {
    padding: 2rem 1rem 0rem 1rem;
  }

  .see-us .days {
    padding: 1.5rem 1rem;
    font-size: 11px;
  }

  .see-us .hours {
    padding: 1.5rem 1rem;
    font-size: 11px;
  }
}

/* --------
 * Footer *
 -------- */